.swiper-hero {
    width: 100%;
    height: calc(100vh - 80px);/*header height: 80px*/
    overflow: hidden;
}

.swiper-pagination-bullet-active{
    --swiper-pagination-color: var(--base-7);
}

.banner-central, .banner-right{
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.banner-right-title, .banner-central-title{
    font-family: Lato, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
.banner-right-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s, cursor .5s step-end infinite alternate;

}
@keyframes cursor {
    50% { border-color: transparent; }
}
@keyframes typing {
    from { width: 0 }
}
.banner-right-text, .banner-central-text{
    padding-top: 20px;
    padding-bottom: 20px;
}
.content-banner-central-text{
    padding: 0px 100px;
}
.banner-right-content{
    width: 30%;
    padding: 100px 40px;
}

.banner-central{
    text-align: center;
    align-content: center;
}

.banner-central.title, .banner-central.text{
    transform: scale(.7);
}

.banner-central-content > *, .banner-right-content > * {
    z-index: 10;
    position: relative;
}
.banner-central-content::after, .banner-right-content::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: 0;
}
.banner-central-content::after{
    background-color: #f3c261;
}
.banner-right-content::after{
    opacity: .1;
    background-image: linear-gradient(to right, #fff, #f3c261);
}

.buttons-center{
    display: flex;
    /*column-gap:18%;*/
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    left: -7%;
    column-gap: calc(-15vw / 2 + 50% / 2);
    justify-content: center;
}
.buttons-center .wp-block-button .wp-element-button{
    width: 15%;
    text-wrap: nowrap;
}
