.button, .wp-block-button .wp-block-button__link {
    display: inline;
	border-radius: 3px;
    font-size: inherit;
    line-height: normal;
}
.wp-block-button__link strong{
	font-weight: 500;
}
.wp-element-button {
	height: 40px
}

.ch-bg-color{
    display: inline;
    position: absolute;
    border-radius: 3px;
    align-content: center;
    border: 1px solid #000;
    transition: all 300ms ease-in-out;
}
.ch-bg-color:hover{
    background-color: var(--base-4);
    border: 1px solid transparent;
}

/* ICONS */
.icon-arrow{
	font-size: 18px;
    padding-left: 8px;
    position: relative;
    transition: all 300ms ease-in-out;
}

