.button, .wp-block-button .wp-block-button__link {
    display: inline;
	border-radius: 3px;
    font-size: inherit;
    line-height: normal;
}
.wp-block-button__link strong{
	font-weight: 500;
}
.wp-element-button {
	height: 40px
}

.ch-bg-color-base-3, .ch-bg-color-base-7, .ch-bg-color-base-8{
    display: inline;
    position: absolute;
    border-radius: 3px;
    align-content: center;
    transition: all 300ms ease-in-out;
}
.ch-bg-color-base-3, .ch-bg-color-base-8{
    border: 1px solid #000;
}
.ch-bg-color-base-8{
    background-color: transparent;
}
.ch-bg-color-base-3:hover{
    border: 1px solid transparent;
    background-color: var(--base-4);
}
.ch-bg-color-base-8:hover{
    border: 1px solid transparent;
    background-color: var(--base-3);
}
.ch-bg-color-base-7{
    border: 1px solid #f3c261;    
}
.ch-bg-color-base-7 .strong-base-7{
    color: var(--base-3) ;
}
.ch-bg-color-base-7:hover{
    border: 1px solid transparent;
    background-color: var(--base-3);
    transition: all 400ms ease-in-out;
}
.ch-bg-color-base-7:hover .strong-base-7{
    color: #000;
}
/* ICONS */
.icon-arrow{
	font-size: 18px;
    padding-left: 8px;
    position: relative;
    transition: all 100ms ease-in-out;
}


